fastapi[standard]
matplotlib
minio
aiofiles
numpy
loguru
openai
uvicorn
uviloop
tqdm>=4.66.4
python-dotenv>=1.0.1
Requests>=2.32.3
tqdm>=4.66.4
scikit-learn
scipy
pydub
openai>=1.52.2
beautifulsoup4>=4.12.3
datasets>=2.21.0
litellm==1.63.3
soundfile
deepgram-sdk==0.2.4
docx
pydantic==1.9.0
pypdf==5.6.0
PyMuPDF==1.26.1
python-dotenv==1.1.0
langchain-community==0.3.25
langchain_openai==0.3.23
rank_bm25==0.2.2
faiss-cpu==1.11.0
deepeval==3.1.0
av==15.0.0
python-magic
sounddevice==0.5.2
pymongo==4.14.1
